In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local[*]').appName("APP").getOrCreate()

25/03/06 10:22:54 WARN Utils: Your hostname, SMSSIC10194 resolves to a loopback address: 127.0.1.1; using 172.31.29.9 instead (on interface eth0)
25/03/06 10:22:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/06 10:22:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

In [22]:
df = spark.read.csv("/mnt/c/Users/x530346L/Documents/Spark/march-machine-learning-mania-2025/MTeams.csv", inferSchema=True, header=True)

In [31]:
df.columns

['TeamID', 'TeamName', 'FirstD1Season', 'LastD1Season']

In [10]:
df.printSchema()

root
 |-- TeamID: integer (nullable = true)
 |-- TeamName: string (nullable = true)
 |-- FirstD1Season: integer (nullable = true)
 |-- LastD1Season: integer (nullable = true)

In [11]:
df.show()

+------+---------------+-------------+------------+
|TeamID|       TeamName|FirstD1Season|LastD1Season|
+------+---------------+-------------+------------+
|  1101|    Abilene Chr|         2014|        2025|
|  1102|      Air Force|         1985|        2025|
|  1103|          Akron|         1985|        2025|
|  1104|        Alabama|         1985|        2025|
|  1105|    Alabama A&M|         2000|        2025|
|  1106|     Alabama St|         1985|        2025|
|  1107|    SUNY Albany|         2000|        2025|
|  1108|      Alcorn St|         1985|        2025|
|  1109|   Alliant Intl|         1985|        1991|
|  1110|  American Univ|         1985|        2025|
|  1111| Appalachian St|         1985|        2025|
|  1112|        Arizona|         1985|        2025|
|  1113|     Arizona St|         1985|        2025|
|  1114|Ark Little Rock|         1985|        2025|
|  1115| Ark Pine Bluff|         1999|        2025|
|  1116|       Arkansas|         1985|        2025|
|  1117|    Arkansas St|         1985|        2025|
|  1118|   Armstrong St|         1987|        1987|
|  1119|           Army|         1985|        2025|
|  1120|         Auburn|         1985|        2025|
+------+---------------+-------------+------------+
only showing top 20 rows

In [53]:
df.count()

380

In [55]:
df.show()

+------+---------------+-------------+------------+
|TeamID|       TeamName|FirstD1Season|LastD1Season|
+------+---------------+-------------+------------+
|  1101|    Abilene Chr|         2014|        2025|
|  1102|      Air Force|         1985|        2025|
|  1103|          Akron|         1985|        2025|
|  1104|        Alabama|         1985|        2025|
|  1105|    Alabama A&M|         2000|        2025|
|  1106|     Alabama St|         1985|        2025|
|  1107|    SUNY Albany|         2000|        2025|
|  1108|      Alcorn St|         1985|        2025|
|  1109|   Alliant Intl|         1985|        1991|
|  1110|  American Univ|         1985|        2025|
|  1111| Appalachian St|         1985|        2025|
|  1112|        Arizona|         1985|        2025|
|  1113|     Arizona St|         1985|        2025|
|  1114|Ark Little Rock|         1985|        2025|
|  1115| Ark Pine Bluff|         1999|        2025|
|  1116|       Arkansas|         1985|        2025|
|  1117|    Arkansas St|         1985|        2025|
|  1118|   Armstrong St|         1987|        1987|
|  1119|           Army|         1985|        2025|
|  1120|         Auburn|         1985|        2025|
+------+---------------+-------------+------------+
only showing top 20 rows

In [52]:
df.where("TeamID == 1102").show()

+------+---------+-------------+------------+
|TeamID| TeamName|FirstD1Season|LastD1Season|
+------+---------+-------------+------------+
|  1102|Air Force|         1985|        2025|
+------+---------+-------------+------------+